// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

#logo {
  float: left;
  margin-right: 20px;
}

#action-call {
  clear: both;
  position: relative;
  top: 20px;
}

#lisbonMap {
  margin-bottom: 20px;
  width:90%;
  height:500px;
  float: left;
}
#legend {
    width:9%;
    list-style: none;
    float: right;
}
#legend li {
  position: relative;
  left: -15px;
}
#accordion {
    width:12%;
    float: right;
    margin: 4% 4% 0 0;
}
#accordion a {
    text-decoration: none;
    color: #000000;
}
#headingOne {
  padding-left: 1em;
}
#collapseOne {
  text-align: center;
}
#charge {
  margin: 1em auto 0 auto;
}

#markerDescription {
   overflow: hidden;
}

#logout {
  margin-left: 15px;
}

@media(max-width: 1180px) {
  #accordion {
      width:9%;
  }
}

.restaurant {
  color: #d6692f;
}
.casino {
  color: #3b7370
}
.bar {
  color: #c24275;
}
.fair {
  color: #2d4ded;
}
.monument {
  color: #c8c107;
}
.viewpoint {
  color: #60408f;
}
.cafe {
  color: #7a5645;
}


#book .col-9 {
  padding-right: 0;
  float: right;
}
#book p {
  text-align: center;
}
#book label {
  padding-top: 15px;
}


.footer {
  margin-left: 20px;
}



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 60rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
